@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('./ProximaNovaRegular.eot');
	src: local('ProximaNovaRegular'), url('./ProximaNovaRegular.woff') format('woff'), url('./ProximaNovaRegular.ttf') format('truetype');
}
/***************************************************************************/
:root{
    --headingfont:'ProximaNovaRegular';
}
/***************************** DEFAULTS ***************************************/
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family:var(--headingfont);
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
.homepage{
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows:7fr 1fr 8fr;
    grid-template-areas: 
    "homeheading homeheading homeheading homeimg homeimg homeimg"
    ". homelogin homelogin homelogin homelogin homelogin"
    "homecontinue homelogin homelogin homelogin homelogin homelogin";
}
.homeheading *{
    margin: 0;
}
.homeheading{
    grid-area: homeheading;
    margin: 10% 0 0 15%;
}
.homeheading h1{
    font-size: 3rem;
    letter-spacing: 0.3px;
    color: #29193B;
}
.homeheading p{
    font-size: 1.25rem;
    color: #959299;
}
.homeimg{
    grid-area: homeimg;
    background-image: url(img/book1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.homecontinue{
    grid-area: homecontinue;
}
.homelogin{
    grid-area: homelogin;
    background:#00DF80;
}

